<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
도서금액 탑 10<br>
<table>
    <tr>
        <th>ISBN</th>
        <th>제목</th>
        <th>저자</th>
        <th>출판사</th>
        <th>가격</th>
    </tr>
    <tr th:each="book : ${bookList}">
        <td th:text="${book.isbn}"></td>
        <td th:text="${book.bookName}"></td>
        <td th:text="${book.author.authorName}"></td>
        <td th:text="${book.publisher.publisherName}"></td>
        <td th:text="${book.price}"></td>
    </tr>
</table>
</body>
</html>